<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="background-color: blueviolet;" style="color: brown;">IncogNex-Post in Detail</title>
    <link rel="icon" href="/logo.png">
    <style>
        body{
            background-image: url("/bgimage4.jpg");
            background-size: cover;
        }
        .container{
            position:absolute;
            top:35%;
            left:45%;
        }
        h2{
            font-size: 50px;
        }
        p {
            font-size: x-large;

        }
        h3 {
            font-size: 40px;
        }
        h4 {
            font-size: 25px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>here is your post in detail</h2>
        <p>Post id: <%=post.id %></p>
        <div clas="post">
            <h3 class="user">@ <%= post.username%> </h3>
            <h4><%=post.content %></h4>
        </div>
    </div>
    <!-- <h2>here is your post in detail</h2>
    <p>Post id: <%=post.id %></p>
    <div clas="post">
     <h3 class="user">@ <%= post.username%> </h3>
     <h4><%=post.content %></h4>
     </div> -->
</body>
</html>